.menu{
    width: 100%;
    height: 2vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* 3 columnas: logo, menú, usuario */
    align-items: center; /* Alinea verticalmente al centro */
    padding: 15px;
    
    
    

}


.logo2 {
   
    display: flex;
    justify-content: center; /* Alinea a la izquierda */
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    height: 80%;
    width: 120px;
   
   
}

.logo2 img {
    width: 80px;
    height: 60px; 
    
   
}

.menu-dos {
    
    display: flex;
    justify-content: space-around; /* Alinea a la izquierda */
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    height: 80%;
    font-weight: 800;
    
    
}

    .menu-dos a{
        text-decoration: none;
        color: rgb(23, 35, 35);
        
        
    }
    .menu-dos a i{
        font-weight: bold;        
        
    }

.usuario {
    padding: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
  
    border-radius: 25px;
    height: 80%;

}